<section class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{!-- System Fields --}}
  <fieldset>
    <legend>{{localize "DRAW_STEEL.ActiveEffect.Ends.Label"}}</legend>
    {{formGroup systemFields.end.fields.type value=source.system.end.type blank=""}}
    {{formGroup systemFields.end.fields.roll value=source.system.end.roll}}
  </fieldset>

  <hr>

  {{!-- Core Fields --}}
  <fieldset>
    {{formGroup fields.duration.fields.seconds value=source.duration.seconds rootId=rootId}}
    {{formGroup fields.duration.fields.startTime value=source.duration.startTime rootId=rootId}}
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label>{{localize "EFFECT.DurationTurns"}}</label>
      <div class="form-fields">
        <label for="{{rootId}}-duration.rounds">{{localize "EFFECT.FIELDS.duration.rounds.label"}}</label>
        {{formInput fields.duration.fields.rounds value=source.duration.rounds
        id=(concat rootId "-duration.rounds")}}
        <label for="{{rootId}}-duration.turns">{{localize "EFFECT.FIELDS.duration.turns.label"}}</label>
        {{formInput fields.duration.fields.turns value=source.duration.turns
        id=(concat rootId "-duration.turns")}}
      </div>
    </div>
    <div class="form-group">
      <label>{{localize "EFFECT.StartTurns"}}</label>
      <div class="form-fields">
        <label for="{{rootId}}-duration.startRound">{{localize "EFFECT.FIELDS.duration.startRound.label"}}</label>
        {{formInput fields.duration.fields.startRound value=source.duration.startRound
        id=(concat rootId "-duration.startRound")}}
        <label for="{{rootId}}-duration.startTurn">{{localize "EFFECT.FIELDS.duration.startTurn.label"}}</label>
        {{formInput fields.duration.fields.startTurn value=source.duration.startTurn
        id=(concat rootId "-duration.startTurn")}}
      </div>
    </div>
  </fieldset>
</section>
