<section class='tab crtuicharacterskills scrollable crt {{tab.cssClass}}' data-group='primary' data-tab='crtuicharacterskills'>
	<div class='grid-container'>
		<!-- Col1 -->
		<span class='Col1'>
			{{#each system.skills as |skill key|}}
				<span class='ability grid-attr'>
					<h3 for='system.skills.{{key}}.value' class='resource-label rollable Attr1' data-roll='{{skill.mod}}' data-label='{{localize (alienConcat "ALIENRPG.Skill" key)}}'>
						{{localize (alienConcat 'ALIENRPG.Skill' key)}}
						({{localize (alienConcat 'ALIENRPG.AbilityAbb' skill.attrib)}})
					</h3>
					<input type='text' class='maxboxsize Attr2' name='system.skills.{{key}}.value' value='{{skill.value}}' data-dtype='Number' />
					<div class='resource-content'>
						<button type='button' class='stunt-btn Attr3' data-action='ShowStunt' data-pmbut='{{skill.description}}'><i class='crt fas fa-tools fa-xs' title='Stunts'></i></button>
					</div>
				</span>
			{{/each}}
		</span>

		<!-- Col2 -->

		<div class='Col2'>
			<ol>
				<li class='grid-talents item-header'>
					<h2 class='item talTitle'>{{localize 'ALIENRPG.Talents'}}</h2>
					<h3 class='item-name tal1'>{{localize 'ALIENRPG.Name'}}</h3>
					<div class='item-controls tal2'></div>
				</li>
				<div style='height: 155px; overflow-x: auto'>
					{{#each talents as |item iid|}}
						<li class='item grid-talents' data-item-id='{{item._id}}'>
							<h4 class='item-name tal3 talent-btn'' data-action='ShowTalentAgenda'  data-pmbut='{{item._id}}'>{{item.name}}</h4>
							<div class='tal4 item-controls'>
								<a class='item-control item-edit1' data-action='viewDoc' data-item-id='{{item._id}}' data-document-class='Item' title='{{localize "ALIENRPG.EditItem"}}'><i
										class='fas fa-edit'
									></i></a>
							</div>
						</li>
					{{/each}}
				</div>
			</ol>
		</div>
		<div class='Col4'>
			<ol>
				<li class='grid-talents item-header'>
					<h2 class='item talTitle'>{{localize 'ALIENRPG.AgendaStory'}}</h2>
					<h3 class='item-name tal1'>{{localize 'ALIENRPG.Name'}}</h3>
					<div class='item-controls tal2'></div>
				</li>
				<div style='height: 70px; overflow-x: auto'>
					{{#each agendas as |item iid|}}
						<li class='item grid-talents' data-item-id='{{item._id}}'>
							<h4 class='item-name tal3 talent-btn' ' data-action='ShowTalentAgenda' data-pmbut='{{item._id}}'>{{item.name}}</h4>
							<div class='tal4 item-controls'>
								<a class='item-control item-edit1' data-action='viewDoc' data-item-id='{{item._id}}' data-document-class='Item' title='{{localize "ALIENRPG.EditItem"}}'><i
										class='fas fa-edit'
									></i></a>
							</div>
						</li>
					{{/each}}
				</div>
			</ol>
		</div>
		{{! Stunts/Talents pop up DO NOT TOUCH THE DIV BELOW }}
		<div class='Col3' style='font-family: initial; font-size: larger' id='panel'></div>
	</div>
</section>