{{! Sheet Header }}
<header class='vehicle-header'>
	<img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{actor.name}}' height='100' width='100' />
	<div class='header-fields'>
		<span class='charname'><input name='name' type='text' value='{{actor.name}}' placeholder='{{localize "ALIENRPG.Name"}}' /></span>
		<div class='grid-creature' style='height: 120px'>
			<div class='vCre1 grid-2'>
				<h2 class='resource-label box11'>{{localize 'ALIENRPG.Health'}}</h2>
				<input type='text' class='maxboxsize box21' name='system.header.health.value' value='{{system.header.health.value}}' data-dtype='Number' />
				<label class='box23'> / </label>
				<input type='text' class='maxboxsize box22' name='system.header.health.max' value='{{system.header.health.max}}' data-dtype='Number' />
			</div>
			<div class='vCre2 grid-2b'>
				<h2
					class='resource-label box11b rollable'
					data-action='RollAbility'
					data-roll='{{system.attributes.armorrating.value}}'
					data-label='{{localize "ALIENRPG.InventoryArmorHeader"}}'
					data-spbutt='armor'
				>
					{{localize 'ALIENRPG.InventoryArmorHeader'}}
				</h2>
				<input type='text' class='maxboxsize box21b' name='system.attributes.armorrating.value' value='{{system.attributes.armorrating.value}}' data-dtype='Number' />
			</div>
			<div class='vCre3 grid-2'>
				<h2 class='resource-label box11 rollable' data-action='RollAbility' data-roll='{{system.attributes.speed.value}}' data-label='Speed'>{{localize 'ALIENRPG.Speed'}}</h2>
				<input type='text' class='maxboxsize box21' name='system.attributes.speed.value' value='{{system.attributes.speed.value}}' data-dtype='Number' />
			</div>
			<div class='vCre4 grid-2b'>
				<h2
					class='resource-label box11b rollable'
					data-action='RollAbility'
					data-roll='{{system.attributes.armorvfire.value}}'
					data-label='{{localize "ALIENRPG.ArmorVsFire"}}'
					data-spbutt='armorVfire'
				>
					{{localize 'ALIENRPG.ArmorVsFire'}}
				</h2>
				<input type='text' class='maxboxsize box21b' name='system.attributes.armorvfire.value' value='{{system.attributes.armorvfire.value}}' data-dtype='Number' />
			</div>
			<div class='vCre5 grid-2'>
				<h2 class='resource-label box11 rollable' data-action='RollAbility' data-roll='{{system.general.mobility.value}}' data-label='Mobility'>{{localize
						'ALIENRPG.Skillmobility'
					}}</h2>
				<input type='text' class='maxboxsize box21' name='system.general.mobility.value' value='{{system.general.mobility.value}}' data-dtype='String' />
			</div>
			<div class='vCre6 grid-2b'>
				<h2 class='resource-label box11b rollable' data-action='RollAbility' data-roll='{{system.general.observation.value}}' data-label='Observation'>{{localize
						'ALIENRPG.Skillobservation'
					}}</h2>
				<input type='text' class='maxboxsize box21b' name='system.general.observation.value' value='{{system.general.observation.value}}' data-dtype='String' />
			</div>
			<div class='vCre8 grid-2b'>
				<h2 class='resource-label box11b creature-acid-roll' data-action='creatureAcidRoll' data-roll='{{system.general.acidSplash.value}}' data-label='Acid Splash'>{{localize
						'ALIENRPG.SkillAcidSplash'
					}}</h2>
				<input type='text' class='maxboxsize box21b' name='system.general.acidSplash.value' value='{{system.general.acidSplash.value}}' data-dtype='String' />
			</div>
		</div>

	</div>
</header>