{{!-- Sheet Body --}}
<section class='tab spacecraftgeneral scrollable {{tab.cssClass}}' data-group='primary' data-tab='spacecraftgeneral'>
	<div class="grid-spacecraft">
		<!-- Col1 -->
		<div class="spacec1">
			<div class="s1-header">
				<h2 class="resource-label s1h1" style="font-size:30px">{{localize "ALIENRPG.Name"}}</h2>
				<h1 class="charname s1h2"><input name="name" type="text" value="{{actor.name}}" /></h1>

				<h3 class="resource-label s1h3">{{localize "ALIENRPG.MODEL"}}</h3>
				<input class="textbox s1h28" type="text" name="system.attributes.model" value="{{system.attributes.model}}" data-dtype="String" />

				<h3 class="resource-label s1h4">{{localize "ALIENRPG.Manufacturer"}}</h3>
				<input class="textbox s1h29" type="text" name="system.attributes.manufacturer" value="{{system.attributes.manufacturer}}" data-dtype="String" />

				<h3 class="resource-label s1h30">{{localize "ALIENRPG.MODULES"}}</h3>
				<input class="textbox s1h32" type="text" name="system.attributes.modules" value="{{system.attributes.modules}}" data-dtype="String" />

				<h3 class="resource-label s1h31">{{localize "ALIENRPG.ARMAMENTS"}}</h3>
				<input class="textbox s1h33" type="text" name="system.attributes.armaments" value="{{system.attributes.armaments}}" data-dtype="String" />

				<h3 class="resource-label s1h5">{{localize "ALIENRPG.AI"}}</h3>
				<input class="textbox s1h6" type="text" name="system.attributes.ai" value="{{system.attributes.ai}}" data-dtype="String" />

				<label class="s1h8" data-attr="attribute" data-roll="{{system.attributes.crew.value}}" data-mod="{{system.attributes.crew.mod}}">{{localize "ALIENRPG.CREW"}}</label>
				<input type="text" class="maxboxsize s1h7" name="system.attributes.crew.value" value="{{system.attributes.crew.value}}" data-dtype="Number" />

				<label class="s1h9" data-attr="attribute" data-roll="{{system.attributes.passengers.value}}" data-mod="{{system.attributes.passengers.mod}}">{{localize "ALIENRPG.PASSENGERS"}}</label>
				<input type="text" class="maxboxsize s1h10" style="max-width: 55px" name="system.attributes.passengers.value" value="{{system.attributes.passengers.value}}" data-dtype="Number" />

				<label class="s1h12" data-attr="attribute" data-roll="{{system.attributes.length.value}}" data-mod="{{system.attributes.length.mod}}">{{localize "ALIENRPG.LENGTH"}}</label>
				<input type="text" class="maxboxsize s1h11" style="max-width: 55px; margin-left: -2px" name="system.attributes.length.value" value="{{system.attributes.length.value}}" data-dtype="Number" />

				<label class="s1h13" data-attr="attribute" data-roll="{{system.attributes.ftlrating.value}}" data-mod="{{system.attributes.ftlrating.mod}}">{{localize "ALIENRPG.FTL-RATING"}}</label>
				<input type="text" class="maxboxsize s1h14" name="system.attributes.ftlrating.value" value="{{system.attributes.ftlrating.value}}" data-dtype="Number" />

				<label class="s1h16" data-attr="attribute" data-roll="{{system.attributes.signature.value}}" data-mod="{{system.attributes.signature.mod}}">{{localize "ALIENRPG.SIGNATURE"}}</label>
				<input type="text" class="maxboxsize s1h15" name="system.attributes.signature.value" value="{{system.attributes.signature.value}}" data-dtype="Number" />

				<label class="s1h17" data-attr="attribute" data-roll="{{system.attributes.thrusters.value}}" data-mod="{{system.attributes.thrusters.mod}}">{{localize "ALIENRPG.THRUSTERS"}}</label>
				<input type="text" class="maxboxsize s1h18" name="system.attributes.thrusters.value" value="{{system.attributes.thrusters.value}}" data-dtype="Number" />

				<label class="s1h20" data-attr="attribute" data-roll="{{system.attributes.hull.value}}" data-mod="{{system.attributes.hull.mod}}">{{localize "ALIENRPG.HULL"}}</label>
				<input type="text" class="maxboxsize s1h19" name="system.attributes.hull.value" value="{{system.attributes.hull.value}}" data-dtype="Number" />

				<label class="s1h21 rollable" data-roll="{{system.attributes.armor.value}}" data-action='RollAbility' data-spbutt="armor" data-label="{{ localize 'ALIENRPG.Armor'}}">{{localize "ALIENRPG.SHIP-ARMOR"}}</label>
				<input type="text" class="maxboxsize s1h22" name="system.attributes.armor.value" value="{{system.attributes.armor.value}}" data-dtype="Number" />

				<label class="s1h23" style="font-weight: bold">{{localize "ALIENRPG.LEASE-COST"}}</label>
				<input type="text" class="cashboxsize currency s1h24" style="max-width: 200px; margin-bottom: 5px" name="system.attributes.leasecost.value" value="{{system.attributes.leasecost.value}}" />

				<label class="s1h25" style="font-weight: bold">{{ localize "ALIENRPG.DAMAGE"}}</label>
				<div class="newdots click-damage-level s1h26" style="height: 29px" data-action='ClickDamageLevel'>
					{{#times system.DAMcurrent}}
					<i class="far fa-dot-circle"></i>
					{{/times}} {{#times system.DAMlost}}
					<i class="far fa-circle"></i>
					{{/times}}
				</div>
			</div>
			<div class="box-top" style="overflow: auto">
				<h2 class="item talTitle" style="padding-top: 3px">
					{{localize "ALIENRPG.MINOR-COMPONENT-DAMAGE"}}
					<label type="button" data-crbut="minor" class="resource-label-header rollMinorCD" data-action='RollMinorCD' title="{{localize 'ALIENRPG.RollCrit'}}"><i class="fas fa-wrench"></i></label>
				</h2>
				<ol class="items-list s1h26" style="width: -webkit-fill-available">
					{{#each critMin as |item iid|}}
					<li class="item space-critical-inj" data-item-id="{{item.id}}">
						<a class="item-image ScritI1"><img src="{{item.img}}" width="24" height="24" /></a>
						<a class="item-name ScritI2">{{item.name}}</a>
						<a class="ScritI4 item-control item-edit1" data-action='viewDoc' data-document-class='Item' data-item-id="{{item.id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
					</li>
					{{/each}}
				</ol>
			</div>
			<div style="overflow: auto">
				<h2 class="item talTitle">
					{{localize "ALIENRPG.MAJOR-COMPONENT-DAMAGE"}}
					<label type="button" data-crbut="major" class="resource-label-header rollMajorCD" data-action='RollMajorCD' title="{{localize 'ALIENRPG.RollCrit'}}"><i class="fas fa-toolbox"></i></label>
				</h2>
				<ol class="items-list s1h27" style="width: -webkit-fill-available">
					{{#each critMaj as |item iid|}}
					<li class="item space-critical-inj" data-item-id="{{item.id}}">
						<a class="item-image ScritI1"><img src="{{item.img}}" width="24" height="24" /></a>
						<a class="item-name ScritI2">{{item.name}}</a>
						<a class="ScritI4 item-control item-edit1" data-action='viewDoc' data-document-class='Item' data-item-id="{{item.id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
					</li>
					{{/each}}
				</ol>
			</div>
		</div>
		<div class="spacec2">
			<h2 class="resource-label" style="font-size:30px">{{localize "ALIENRPG.CREW"}}</h2>
			<div class="grid-spacecraft-crew">
				<label class="resource-label gSC1">{{localize 'ALIENRPG.Name'}}</label>
				<label class="resource-label gSC2">{{localize 'ALIENRPG.Position'}}</label>
				<label class="resource-label gSC3">{{localize 'ALIENRPG.Roll'}}</label>
				<label class="resource-label gSC4">{{localize 'ALIENRPG.Panic'}}</label>
			</div>
			<br />
			<div>
				{{#each actor.system.crew.occupants}}
				<div class="occupant {{#if (eq position 'PASSENGER')}} passenger{{/if}}" data-crew-id="{{ id }}">
					<div class="grid-spacecraft-crew">
						{{!-- Name --}}
						<div class="gSC6">{{ actor.name }}</div>

						{{!-- Position --}}
						<div class="gSC7">
							<select class="crew-position select-css changeposition" data-actorid="{{ actor.id }}" style="width: 175px">
								{{selectOptions @root.config.spacecraft.crewPositionFlagsLocalized selected=position localize=true}}
							</select>
						</div>

						{{#if (eq position 'PILOT')}}
						<h3 for="actor.system.skills.piloting.value" class="resource-label rollable Attr1 gSC8" data-action='RollAbility' data-actorid="{{ actor.id }}" data-roll="{{addstats actor.system.skills.piloting.mod @root.actor.system.attributes.thrusters.value}}" data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.Skillpiloting'}}">
							{{localize 'ALIENRPG.Skillpiloting'}}
						</h3>
						{{/if}}
						{{#if (eq position 'SENSOR-OP')}}
						<h3 for="actor.system.skills.comtech.value" class="resource-label rollable Attr1 gSC8 " data-action='RollAbility' data-actorid="{{ actor.id }}" data-spbutt="comtech" data-roll="{{ actor.system.skills.comtech.mod }}" data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.Skillcomtech'}}">
							{{localize 'ALIENRPG.Skillcomtech'}}
						</h3>
						{{/if}}
						{{#if (eq position 'ENGINEER')}}
						<h3 for="actor.system.skills.heavyMach.value" class="resource-label rollable Attr1 gSC8 " data-action='RollAbility' data-actorid="{{ actor.id }}" data-spbutt="heavyMach" data-roll="{{ actor.system.skills.heavyMach.mod }}" data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.SkillheavyMach'}}">
							{{localize 'ALIENRPG.SkillheavyMachAbb'}}
						</h3>
						{{/if}}

						<label type="button" class="crewPanic gSC9" data-shippanicbut="true" data-action="CrewPanic" data-crewpanic="{{ actor.id }}" data-panicroll="true" title="{{localize 'ALIENRPG.RollPanic'}}"><i class="far fa-heart"></i></label>

						{{!-- Buttons --}}
						<div class="gSC10">
							{{#unless actor.isCrewDeleted}}
							<label class="button crew-edit" data-action="CrewEdit" data-actorid="{{ actor.id }}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></label>
							{{/unless}}
							<label class="button crew-remove" data-action="CrewRemove" data-actorid="{{ actor.id }}" title="{{localize 'ALIENRPG.DeleteItem'}}"><i class="fas fa-trash"></i></label>
						</div>
					</div>
				</div>
				{{else}}
				<div class="crew-empty">{{localize 'ALIENRPG.EmptyCrew'}}</div>
				{{/each}}
			</div>
			<div class="box-top" style="margin-top: 40px">
				<h2 class="resource-label" style="font-size:30px">{{localize "ALIENRPG.ARMAMENTS"}}</h2>
				<div>
					<ol class="items-list">
						<!-- Display Active Items -->
						<h2 class="">{{localize "ALIENRPG.Offensive"}}</h2>
						<li class="grid-items item-header">
							<div class="item-name lCol1">{{section.label}}</div>
							<div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
							<div class="item-detail lCol15">{{localize "ALIENRPG.Bonus"}}</div>
							<div class="item-detail lCol13">{{localize "ALIENRPG.Dam"}}</div>
							<div class="item-detail lCol11">{{localize "ALIENRPG.Range"}}</div>
						</li>

						{{#each inventory as |inv|}} {{#each inv.items as |item iid|}} {{#if (eq item.type 'spacecraftweapons')}} {{#if (eq item.system.header.type.value '1')}}
						<li class="item grid-items" data-item-id="{{item._id}}">
							<div class="item-image lCol5"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
							<span class="item-detail lCol6 rollItem" data-action="RollItem" data-item-id='{{item.id}}' data-item="{{item.name}}" data-mod="{{system.skills.rangedCbt.mod}}">{{item.name~}}</span>
							<span class="item-detail lCol16" data-item="{{system.attributes.bonus.value}}">{{system.attributes.bonus.value}}</span>
							<span class="item-detail lCol14" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
							<span class="item-detail lCol12" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>

							<div class="item-controls lCol9">
								<a class="item-control item-edit1" data-action='viewDoc' data-document-class='Item' data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
							</div>
						</li>
						{{/if}} {{/if}} {{/each}} {{/each}}

						<h2 class="">{{localize "ALIENRPG.Defensive"}}</h2>
						<li class="grid-items item-header">
							<div class="item-name lCol1">{{section.label}}</div>
							<div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
							<div class="item-detail lCol15">{{localize "ALIENRPG.Bonus"}}</div>
							<div class="item-detail lCol11">{{localize "ALIENRPG.hardpoint"}}</div>
						</li>
						{{#each inventory as |inv|}} {{#each inv.items as |item iid|}} {{#if (eq item.type 'spacecraftweapons')}} {{#if (eq item.system.header.type.value '2')}}
						<li class="item grid-items" data-item-id="{{item._id}}">
							<div class="item-image lCol5"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
							<span class="item-detail lCol6 rollItem" data-action="RollItem" data-item-id='{{item.id}}' data-item="{{item.name}}" data-mod="{{system.skills.rangedCbt.mod}}">{{item.name~}}</span>

							<span class="item-detail lCol16" data-item="{{system.attributes.bonus.value}}">{{system.attributes.bonus.value}}</span>
							<span class="item-detail lCol12" data-item="{{system.attributes.hardpoint.value}}">{{system.attributes.hardpoint.value}}</span>

							<div class="item-controls lCol9">
								<a class="item-control item-edit1" data-action='viewDoc' data-document-class='Item' data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
							</div>
						</li>
						{{/if}} {{/if}} {{/each}} {{/each}}
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>