{{!-- Sheet Body --}}
<section class='tab territorygeneral scrollable {{tab.cssClass}}' data-group='primary' data-tab='territorygeneral'>
	<h2 class="resource-label">{{localize 'ALIENRPG.Description'}}</h2>
	<textarea name="system.comment.value" rows="13" data-dtype="String">{{system.comment.value}}</textarea>
	<h2 class="resource-label">{{localize 'ALIENRPG.Sectors'}}</h2>
	<textarea name="system.sectors.value" rows="13" data-dtype="String">{{system.sectors.value}}</textarea>
</section>