<section class='tab vehiclegeneral scrollable {{tab.cssClass}}' style="height:611px" data-group='primary' data-tab='vehiclegeneral'>
	<div class="attributes">
		<label class="resource-label">{{localize 'ALIENRPG.Passengers'}}</label>
		<input type="text" class="maxboxsize" name="system.attributes.passengers.value" value="{{system.attributes.passengers.value}}" data-dtype="Number" />
		<label class="resource-label">{{localize 'ALIENRPG.Cost'}}</label>
		<input type="text" class="cashboxsize currency" name="system.attributes.cost.value" value="{{system.attributes.cost.value}}" />
		<br />
		<h3 class="resource-label">{{localize 'ALIENRPG.Description'}}</h3>
		<textarea name="system.attributes.comment.value" rows="18" data-dtype="String">{{system.attributes.comment.value}}</textarea>
	</div>
</section>