<section class='tab agenda scrollable {{tab.cssClass}}' data-group='primary' data-tab='agenda'>
	<h2 class='resource-label'>{{localize 'ALIENRPG.Description'}}</h2>
	<div style='border: solid 1px; padding: 5px;width: 629px;'>
		{{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
		{{#if editable}}
			<prose-mirror
				style='height: 289px;'
				name='system.general.comment.value'
				data-document-uuid='{{item.uuid}}'
				value='{{system.general.comment.value}}'
				collaborate='true'
				toggled='true'
			>
				{{{enrichedComment}}}
			</prose-mirror>
		{{else}}
			{{{enrichedComment}}}
		{{/if}}
	</div>
</section>